:root {
  --cian:#09BC8A;
  --dark-blue:#25283D;
}

/* main frame styles */
main {
  padding-top: 7rem;
}

.content {
  min-height: 80vh;
  min-width: 100%;

  display: none;
  flex-direction: column;
  align-items: center;

  visibility: hidden;
}

.content.visible {
  display: flex;
  visibility: visible;
}

/* page nav selector */
nav {
  width: 100%;
  display: flex; 
  justify-content: center;
}

nav button {
  border: none;
  outline: none;
  background: transparent;
  color: var(--dark-blue);

  font-size: 3rem;
  font-weight: bold;

  position: relative;

  cursor: pointer;
}

nav button.active {
  color: var(--cian);
}

nav button.active::before {
  content: '';
  height: 1rem;
  min-width: 100%;
  position: absolute;  
  bottom: -5px;
  left: 0; 
  background: var(--dark-blue);
}

nav button + button {
  margin-left: 3rem;
}

.filesAdded {
  margin: 4rem auto 0;
  width: 80%;
  height: 7rem;
  border: 5px dashed var(--dark-blue);
  border-radius: 1rem;
  padding: 0 .5rem;
  display: flex;
  align-items: center; 
  justify-content: start;
}

.filesAdded.empty {
  justify-content: center;
}

.filesAdded p {
  display: none;
  visibility: hidden;
}

.filesAdded.empty p {
  display: block;
  visibility: visible;
  font-size: 3rem;
  font-weight: bold;
  color: var(--dark-blue);
}

.filesAdded img {
  height: 5rem;
  width: 5rem;
  border-radius: .5rem;
}

.img-preview-wrapper {
  margin-right: .5rem;
  height: 5rem;
  width: 5rem;
  border-radius: .5rem;

  position: relative;
}

.img-preview-wrapper::before {
  content: '\2715';
  color: white;
  font-size: 1.5rem;
  line-height: 5rem;
  text-align: center;

  position: absolute;
  top: 0; 
  left: 0;
  bottom: 0;
  right: 0;

  border-radius: .5rem;
  cursor: pointer;

  background-color: #000;
  opacity: 0;

  transition: .2s;
}

.img-preview-wrapper:hover::before {
  opacity: .4;
}

form {
  margin: 2rem auto 0; 
  padding: 1rem 1.5rem;
  width: 80%;
  height: fit-content;

  background: var(--dark-blue);
  border-radius: 1rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-content label{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

/* name input suggestion */

.name-input {
  display: flex;
  flex-direction: column;
  position: relative;
  height: fit-content;
  width: 100%;
}

.name-input .common-name {
  background: var(--dark-blue);
  filter: brightness(1.7);
  border-style: none;
  outline: none;
  border-radius: .5rem;
  padding: .2rem .4rem;
  color: white;
}

.name-input .common-name:focus {
  outline: var(--cian) 3px solid;
}

.name-input .scientific-name {
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: -999;
}

.suggestion {
  width: 100%; 
  height: 10rem;

  z-index: 2;

  position: absolute;

  background: var(--dark-blue);

  top: calc(100% + 3px); 
  left: 0;

  filter: brightness(1.5);
  border-radius: .5rem;

  display: none;
  visibility: hidden;

  overflow-y: scroll;
}

.suggestion::-webkit-scrollbar {
  width: 10px;
}

.suggestion::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2);
  border-radius: .5rem;
}

.suggestion.active {
  display: flex; 
  flex-direction: column;

  visibility: visible;
}

.suggestion p {
  width: 100%; 
  padding: .5rem 1rem;

  color: white;

  font-size: 1.25rem; 
  font-weight: bold;
  cursor: pointer;
  border-radius: .5rem;
  transition: .2s; 
}

.suggestion p:hover {
  filter: brightness(.7);
  background: var(--dark-blue);
}

.suggestion p i {
  font-size: 1rem;
  font-weight: normal;
  color: var(--cian);
}

/* file input */
.file-upload-container {
  margin-top: 1rem;
  display: flex;
}

.file-upload-button {
  width: 7rem; 
  text-align: center;

  background-color: var(--cian);
  color: white; 
  line-height: 1.5rem;

  border-radius: .5rem;
  padding: 1rem .75rem;

  cursor: pointer;
  transition: all .2s;
}

.file-upload-button:hover {
  filter: brightness(0.8);
}

.img-input-preview {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

.file-upload-container span {
  margin-left: 1.5rem;

  height: 3.5rem;
  width: 3.5rem;
  border-radius: .5rem;

  position: relative;
}

.file-upload-container span::before {
  content: '\2715';
  color: white;
  font-size: 1.5rem;
  line-height: 3.5rem;
  text-align: center;

  position: absolute;
  top: 0; 
  left: 0;
  bottom: 0;
  right: 0;

  border-radius: .5rem;
  cursor: pointer;

  background-color: #000;
  opacity: 0;

  transition: .2s;
}

.file-upload-container span:hover::before {
  opacity: .4;
}

form button[type="submit"] {
  background: var(--cian);

  color: white; 
  font-size: 1.5rem;
  border: none;

  border-radius: .5rem;
  font-weight: bold;
  padding: 0 1rem;

  height: 4rem;
  cursor: pointer;
}

form button[type='submit']:hover {
  filter: brightness(0.8);
  transition: .2s;
}

.submit-all {
  margin: 1rem auto 0;
  height: 4rem;
  width: 80%;
  background-color: var(--cian);

  outline: none; 
  border: none;
  border-radius: .5rem;

  color: var(--dark-blue);
  font-size: 2rem;  
  text-align: center; 
  font-weight: bold; 

  padding: .5rem 1rem;

  cursor: pointer;

  transition: all .2s; 
}

.submit-all:hover {
  filter: brightness(.8);
}

.submit-all[disabled] {
  filter: brightness(.7);
  cursor: not-allowed;
}

/* Edit/Remove images component*/

.card {
  width: 70%;
  height: 7.5rem; 
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  background-color: rgba(0, 0, 0, .3);

  border-radius: 2rem;
}

.card img {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  border-radius: 1rem;
  margin-right: 2rem;
}

.card .cardInfo p:first-of-type {
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
}

.card .cardInfo p:last-of-type {
  color: var(--dark-blue);
  font-style: italic;
}

.card .actions {
  margin-left: auto;
  margin-right: 1rem;
}

/* ---- Modal ---- */

.modal-overlay {
  z-index: 999;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  display: none;
}

.modal-overlay.visible {
  visibility: visible;
  display: flex;
  opacity: 1;
}

.modal-content {
  height: 50vh;
  width: 50vw;
  visibility: hidden;
  opacity: 0;
  display: none;
}

.modal-content.visible {
  visibility: visible;
  opacity: 1;

  display: flex;
  flex-direction: column;

  background: rgb(250, 237, 178);

  border-radius: 2rem;
  padding: 2rem 2.5rem;
}

.edit-modal h2 {
  font-size: 2.5rem;
  color: var(--dark-blue);
  margin-bottom: 1rem;
}

.edit-modal label {
  color: var(--cian);
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.edit-modal input {
  background: rgba(0, 0, 0, .3);
  height: 2.25rem;
  font-size: 1.25rem;
  border-style: none;
  outline: none;
  border-radius: .5rem;
  padding: .2rem .4rem;
  color: white;
  font-weight: bold;
}

.remove-modal {
  text-align: center;
}

.remove-modal h2 {
  font-size: 3rem; 
}

.modal-actions {
  margin-top: auto;
  padding-top: 1rem;
  margin-left: auto;
}

.modal-button {
  padding: .75rem; 
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: filter .2s;
}

.modal-button + .modal-button {
  margin-left: .5rem;
}

.modal-button:hover {
  filter: brightness(0.8);
}

.red {
  background: red;
}

.blue {
  background: var(--dark-blue);
}
